
@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-VariableFont_wght.woff");
}
@font-face {
    font-family: CormorantGaramond;
    src: url("../fonts/CormorantGaramond-VariableFont_wght.woff");
    
}
@font-face {
    font-family: CormorantGaramondItalic;
    src: url("../fonts/CormorantGaramond-Italic-VariableFont_wght.woff");
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght_1.woff");
   
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-VariableFont_wdth_wght.woff");
    
}
@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/Montserrat-Medium.ttf");
    
}
*{
    margin: 0;
    padding: 0;
}
*, p{ 
    line-height: 1.5; 
   font-family: Rubik, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px;
}


.header1{
    width: 1110px;
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 1px solid #00000025;
    justify-self: center;
    height: 50px;
    box-shadow: 7 4px 20px -2px rgba(0, 0, 0, 0.2); 
}
.log1-in{
    
    border-left: 1px solid #00000025 ;
    margin-left: 10px;
   
}
.log1-in img{
    
    margin-left: 10px;
}
.header1-li{
    display: inline;
    margin-right: 20px;
    list-style: none;
    line-height: 3;
    
}
.header1-li a{
    text-decoration: none;
    color: #444444;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
.header1-li a:hover{
    text-decoration: underline;
}
.log1-in-li{
    display: inline;
    margin-right: 5px;
    line-height: 3;
}
.log1-in-li a{
    text-decoration: none;
    color: #444444;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
.log1-in-li a:hover{
    text-decoration: underline;
}
.header2{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 56px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.logo{
    display:table-column;
width: 210px;
height: 54px;
margin-right: 90px;
margin-top: -10px;

}
.logo p{
    font-size: 10px;
   
    text-align: center;
    color: #444444;
}
.phone{
    display: flex;
}
.left{
    flex-direction: column;
    margin-right: 50px;
    line-height: 2;
}
.right{
    margin-right: 100px;
    line-height: 2;
    color: #444444;
}
.right img{
    margin-left: 5px;
}
.phone-li{
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
    
}
.phone-li a{
    text-decoration: none;
    color: #444444;
}
.phone-li a:hover{
    color: #3CB950;
}
.like-cart{
    display: flex;
}
.like-cart li{
    display: inline;
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
   
}
.like-cart a{
    text-decoration: none;
    color: #444444;
}
.like a:hover{
    color: rgb(202, 99, 117);
}
.like img{
    margin-right: 10px;
}
.cart img{
    margin-right: 10px;
}
.cart a:hover{
    color: #3CB950;
}
.nav-bar{
    display: none;
}
.burger{
    display:none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
}
.burger span{
    width: 80%;
    height: 2px;
    transform: scale(1);
    background-color: #3CB950;
}
.burger::before, .burger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: all 0.3s ease 0s;
    background-color: #3CB950;
}
.burger::before{
    top: 0;

}
.burger::after{
    bottom: 0;
}
.burger.active span{
    transform: scale(0);
}
.burger.active::after{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::before{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);

}
.header-announce{
    
    background: linear-gradient(to right, #3CB950,#13DD33);
    height: 50px;
    
}
.announce-ul{
    display: flex;
    justify-content: center;
    line-height: 3;
    
}
.announce-li a{
    text-decoration: none;
     color: #FFFFFF;
     line-height: 3;
}
.announce-li{
    list-style: none;
    margin-right: 50px;
    text-transform: uppercase;
   
    
}
.announce-li a:hover{
    color: #095F07;
    text-decoration: underline;
}

.info{
 
    height: 500px;
    
    background: url("/IMG/bg1.png");
    background-position:center;
    background-clip: padding-box;
    background-size: cover;
    
    
    padding: 145px 0px 0px 0px;
    background-repeat: no-repeat;

}
.block{
   
    justify-self:center;
    display: block;
    width: 463px;
    height: 260px;
   margin-right: 450px;
    margin-top: 50px;
   
   padding: 30px 50px 50px 40px;

    background-color: #ffffffee;
    border-radius: 10px;
   
}
.block h1{
    font-family: CormorantGaramondItalic, sans-serif;
    font-size: 42px;
    width: 363px;
    height: 150px;
   font-weight: normal;
    color: #444444;
    padding-bottom: 20px;
}
.block a{
    font-size: 14px;
color: #407014;
}
.block a:hover{
   text-decoration: none;
}

.delivery{
   
    margin-top: 60px;
    text-align: center;
    
}
.delivery-title{
    font-family: CormorantGaramond, sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.select-delvery{
    width: 1110px;
    justify-self:center ;
}
.delivery select{
    
   height: 64px;
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("./IMG/arrow_down.svg") 96% / 12% no-repeat;
  margin: -2px;
padding-left: 25px;
padding-right: 52px;
font-size: 18px;
color: #444444;
    background-color: #F5F9EC;
    border-right: 1px solid #D9D9D9;
    border-top: none;
    border-bottom: none;
    border-left: none;

  
}
.forwho-select{
    padding-right:20px ;
}
.delivery option::after{

    border: none;
}
.cards{
    width: 1100px;
    justify-self: center;
    justify-content: center;
    text-align: center;
   
}
.card-subtitle{
    font-family: CormorantGaramond, sans-serif;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.flower-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.flower-card{
    opacity: 0;       
    animation: fade-in 1.5s ease forwards;  
    width:320px ;
    height: 409px;
    text-align: center;
   gap: 75px;
   list-style: none;  
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.img-parent{
    position: relative;
    top: 0;
    left: 0;
}
.img-child{
    position: relative;
    top: 0;
    left: 0;
    
}
.pop-up{
    position: absolute;
    top: 220px;
    left: 95px;
    right: 74px;
    justify-content:center ;
    bottom: 40px;
    
}
.img-heart{
    position: absolute;
    
    right: 15px;
    left: 262px;

}
.flower-price{
    color: #4BB45E;
    font-size: 34px;
}
.flower-pricelast{
font-size: 20px;
text-decoration:line-through ;
color: #C0C0C0;
margin-left: 10px;
line-height: 2.5;
}
.flower-card img:hover{
    cursor: pointer;
    animation: example 3s infinite;
}

@keyframes example {
    0% { transform: scale(1); }
    35% { transform: scale(0.8); }
   
   
}
  
.flower-info-card{
    justify-content: center;
    display: flex;
}
.flower-descr{
    font-size: 16px;
}
.card-h2{
    margin-top: 120px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.btn{
    background-color: #FFFFFF;
    color: #4BB45E;
    border-color:  #3CB950;
    border-radius: 50px;
    width: 195px;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
}
.btn:hover{
    background-color:  #F5F9EC;
    cursor: pointer;
    
}
.btn:active{
    border: 2px solid #13DD33;
    line-height: 1.5;
    color: #13DD33;
}
.catalogue-button{
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 16px;
    width: 295px;
    height: 50px;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    color: #FFFFFF;
    background: linear-gradient(to right, #3CB950,#13DD33);
    border: none;
    margin-bottom: 60px; 
    cursor: pointer;
}
.catalogue-button:hover{
   
    background: linear-gradient(to right, #38a84b,#086918);
}
.catalogue-button:active{
   line-height: 1.5;
   color: #13DD33;
    background: linear-gradient(to right, #38a84b,#086918);
}
.centr{
    padding: 40px;
    background-color: #FFF5F5;
}
.centers{
    height: 280px;
   
}
.centr-title{
    font-family: CormorantGaramond, sans-serif;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.centers{
    display: flex;
    justify-self: center;
    list-style: none;
    gap: 120px;
    
}
.centr-item{
    padding: 8px 12px 8px 12px;
    font-family: Montserrat, sans-serif;
    list-style: none;
    color: #444444;
}
.centr-item a{
    text-decoration: none;
    font-size: 20px;
     font-family: MontserratMedium, sans-serif;
 
    padding: 8px 12px 8px 12px;
    color: #444444;
}

.centr-item:hover a{
    background-color: #FF5555;
   border-radius: 10px;
   color: #FFFFFF;
   cursor: pointer;
   padding: 8px 12px 8px 12px;
}

.reviews{
    margin-top: 120px;
    justify-self: center;
    
}
.review-main-info{
    display: flex;
    justify-content: space-between;
width: 1110px;
justify-self: center;
margin-bottom: 20px;
}
.review{
    display: flex;
    gap: 10px;
    
}
.review-title{
    font-family: CormorantGaramond, sans-serif;
    text-transform: uppercase;
}
.show-reviews{
    display: flex;
}
.first-review{
    background: #FFFEF2;
    width: 540px ;
    height: 121px;
    display:table;
    padding: 20px;
    margin-right: 30px;
    position: relative;
    top: 0;
    left: 0;
    
}
.review-img-citate{
    position: absolute;
    left: 525px;
    right: 20px;
    top: -10px;
}
.second-review{
    background: #FFFEF2;
    width: 540px ;
    height: 121px;
    display:table;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
}
.review-info{
    
display: flex;

gap: 10px;
}
.review-info h6{
    font-style: italic;
    font-size: 18px;
}
.review-info p{
    line-height: 2.2;
    font-size: 14px;
    color:#4444446e;
}
.allrewie a{
    
    line-height: 1.5;
    color: #407014;
}
.allrewie a:hover{

    color: #4BB45E;
}
.img-stars{
    
    margin-bottom: 10px;
}
.img-switch{
    margin-top: 20px;
margin-left: 555px;
margin-bottom: 40px;
}
.clients-title{
    font-family: CormorantGaramond, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.clients{
    margin-bottom: 160px;
}
.clients-list{
    margin-top: 20px;
    display: flex;
gap: 35px;
justify-content: center;
}
.client-item{

    list-style: none;
}
.read{
    background-color: #F5F9EC;
  padding: 40px 40px 40px 60px;
}
.read-main-info{
    display: flex;
    justify-content: space-between;
width: 1110px;
justify-self: center;
}
.allread{
    font-size: 14px;
    line-height: 3.5;

    color: #407014;
}
.allread:hover{

    color: #4BB45E;
}
.read-title{
    font-family: CormorantGaramond, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.read-list{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.read-card{
    height:fit-content;
    width: 350px;
    list-style: none; 
    background-color: #FFFFFF;
}
.read-info{
    padding: 20px;
    
}
.read-title-card{
    color: #4BB45E;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.read-descr-card{
    color:#444444;
    font-size:15px;
}
.read-date{
    color:#4444446e;
    font-size: 14px;
}
.news{
    width: 1110px;
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.news-main-info{
    display: flex;
    justify-content: space-between;
width: 1110px;
justify-self: center;
}
.allnews{
    font-size: 14px;
   
 
    
}
.allnews{
    color: #407014; 
    line-height: 3.5;
}
.allnews a:hover{

    color: #4BB45E;
}
.news-title{
    font-family: CormorantGaramond, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.news-list{
    margin-top: 20px;  
    display: flex;
}
.news-card{
    width: 1110px;
}
.news-item{
   height: 205px;
   width: 540px;
    
    list-style: none;
    padding: 20px 20px 20px 20px; 
    margin-right: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}
.news-info{
    display: flex;

}
.news-date{
    color:#4444446e;
    margin-left: 10px;
    line-height: 3;
}

.news-title-card{
    width: 419px;
    color: #4BB45E;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-descr-card{
    color:#444444;
    font-size:15px;
}
.news-date{
    color:#4444446e;
    font-size: 14px;
}
.subscribtion{
    background:url(/IMG/bgsubscription.png);
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    background-position: center;
}
.subscribe-info{
    
    display: flex;
    justify-content: center;
    height: 120px;
  margin-bottom: 60px;
}

.subscribe-title{
    margin-top: 21px;
    font-family: Rubik, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    width: 201px;
    height: 52px;
    margin-right: 45px;
    margin-bottom: 52px;
}
.subscribe-form{
    background: none;
    margin-top: 42px;
    width: 600px ;
    height: 36px;
   text-align: right;
   padding-right: 10px;
   font-style: italic;
    margin-bottom: 42px;
    border: none;
    color: #FFFFFF;
    border-style: solid;
    border-bottom: light line #ff0000;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 600px;
   
}
input::placeholder{
    color: #ffffff;
}
.subscribe-text{
    border-style: solid;
    border-bottom: light line #ff0000;
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
    margin-bottom: 33px;
    display: flex;
    margin-top: 52px;
    color: #FFFFFF;
   
}




.btn-subscribe{
    margin-top: 42px;
    margin-bottom: 42px;
    width: 195px;
    height: 50px;
    font-size: 16px;
    padding: 15px 30px 15px 30px; 
    color: #4BB45E;
    background-color: #FFFFFF;
margin-left: 60px;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
font-weight: bold;
}
.btn-subscribe:hover{
    background-color:  #F5F9EC;
    
    
}
.btn-subscribe:active{
    border: 2px solid #13DD33;
    line-height: 1.5;
    color: #13DD33;
}
.about-us{
    width: 1110px;
    height: 786px;
   justify-self:center ;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: center;
}
.about-us-info{
    display: inline-block;
   
    
}
.about-us-title{
    font-family: CormorantGaramond, sans-serif;
    text-transform: uppercase;
    font-size: 38px;
}
.about-us-title-more1{
    font-family: CormorantGaramond, sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.about-us-title-more2{
    font-family: CormorantGaramond, sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.about-us-descr{
    margin-top: 20px;
}
.about-first{
   
    display: flex;
    text-align: left;
}
.about-us-descr-more1{
    margin-top: 10px;
    line-height: 1.5; 
    font-size: 15px;
}
.about-second{
    margin-top: 20px;
    display: flex;
    text-align: left;
    flex-direction: row-reverse;
}
.about-us-descr-more2{
    margin-top: 10px;
    line-height: 1.5; 
    font-size: 15px;
}
.aboutimage1{
    margin-right: 33px;
}
.aboutimage2{
    margin-left: 30px;
}
.about-us-aside1{
    line-height: 1;
    padding-top: 77px;
    padding-bottom: 77px;
}
.about-us-aside2{
    line-height: 1;
    padding-top: 46px;
    padding-bottom: 46px;
}

footer{
    background: linear-gradient(45deg, #317014,#426d0d, #095F07);
    display: flex;
    justify-content: center;
   padding: 40px;
  
}
.phone-flex{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-footer{
    display: flex;
    color: #FFFFFF;
}
.body-footer{ 
    margin-left: 70px;
    display: flex;
    gap: 140px;
}
.footer-item{ 
    list-style: none;
    margin-top: 10px;
   
}
.footer-item a{
      text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 590;
}
.footer-item a:hover{
    text-decoration: underline;
}
.logo-subtitle{
    font-size: 14px;
    list-style: none;
    color: #ffffff9d;
}
.phone-ul{
    margin-left: 10px;
}
.phone-number{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    list-style: none;
}
.subphone-item a{
    font-size: 14px;
    color: #ffffff9d;
    
    text-decoration: underline;
}
.subphone-item a:hover{
    text-decoration: none;
}
.subphone-item{
    list-style: none;
}
.phone-number:hover{
    cursor:default;
    text-decoration: underline;
}
.open{
    display: flex !important;
}
@media (max-width: 576px){
    
    .container{
    
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 70%;
     margin-left: 20px;
    }
    .header2{
        display: flex;
        flex-direction: column;
     
       position: absolute;
       height: 10%;
       width: 100%;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 1;
       overflow-y:auto;
        padding: 20px 30px;
       background-color: white;
        margin-left: -20px;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .like-cart .like{
display: none;
    }
    .like-cart .cart{
       position: relative;
       margin-top: -50px;
        margin-left: 250px;
            }
    
            .nav-bar {
                
                position: fixed;
                background-color: rgb(255, 255, 255);
                top: 0;
              
                left: -25rem;
                height: max-content;
                width:30%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s ease-out;
              }
              .toggle {
                left: 0;
                box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.2);
              
              }
              .toggle-menu {
                background-color: #FFFFFF;
                position: fixed;
                top: 64px;
                left: 33%;
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 5px;
                border-radius: 0.5rem;
              }
              .line {
                width: 100%;
                height: 4px;
                border-radius:5px;
                background-color: #38a84b;
                transition: 0.2s ease-out;
              }
              .toggle .line1 {
                background-color: #095F07;
                transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
              }
              .toggle .line2 {
                display: none;
               
              }
              .toggle .line3 {
                background-color: #13DD33;
                transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
              }
              
             /* .toggle .toggle-menu {
                background-color: lightseagreen;
              }*/
              .nav-list {
                list-style: none;
              }
              .nav-list-item {
                text-align: center;
                padding: 1rem 0;
              }
              .nav-link {
                color:#38a84b;
                font-size: 25px;
                text-decoration: none;
                position: relative;
                padding-bottom: 0.4rem;
              }
              .nav-link::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: #13DD33;
                transform: scaleX(0);
                transition: 0.4s ease-in-out;
                transform-origin: left;
              }
              .nav-link:hover::before {
                transform: scaleX(1);
              }
    .header1{
   display: none ;
    }
    .header-announce{
        display: none ;  
    }
    .info{
        background-size: cover;
   width: 454px;
   height: 320px;
    }
    .block{
        width: 50%;
        height: 154px;
        margin-right: 130px;
    }
    .block h1{
        margin-top: -20px;
        width: 230px;
        height: 87px;
        font-size: 30px;
    }
    .block p{
        margin-top: 80px;
    }
    .delivery-title{
        margin-left: -2%;
        width: 80%;
    }
    .select-delvery{
        display: flex;
        margin-left: -23%;
        width: 70%;
        flex-direction: column;

    }
    .select-delvery select{
       
        border-right: #444444;
    }
    .card-subtitle{
        width: 35%;
      margin-left: 300px;
    }
    .flower-cards{
        width: 155%;
     
        margin-left: -350px;
        display: flex;
        flex-direction: column;
    }
    .button-card{
        margin-left: -160px;
    }
    .catalogue-button{
        margin-left: -160px;
    }
    .centr-title{
        width: 70%;
    }
    .centers{
        display: flex;
height: fit-content;
width: 100%;
        flex-direction: column;
        font-size: 15px;
        gap: 0;

    }
   
    .reviews{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 254px;
    }
    .review-main-info{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: -180px;
        justify-content: center;
    }
    .first-review{
        margin-left: -10px;
        display: ruby;
       flex-direction: column;
       justify-self: center;
width: 66%;
    }
    .review-img-citate{
        margin-left: -230px;
        display: ruby;
       flex-direction: column;
       justify-self: center;
    }
    .review-title{
       
        font-size: 22px;
        
       text-align: center;
    }
    .allrewie{
       
    float: inline-end;
color: #407014;
    }
    .review p{
      font-size: 1px;
    }
    .review-info p{
        margin: 0;
        font-size: 8px;
    }
    .first-review p{
        height: 0;
        margin: 0;
        font-size: 14px;
    }
    .second-review{
    
        display: none;
    }
    .img-switch{
        margin-top: 10px;
        margin-left: 160px;
    }
.clients{ 
    width: 70%;
    margin-left: 20px;
    margin-bottom: 30px;
}
.clients-title{ 
   
    margin-top: 30px;
    width: 75%;
font-size: 22px;
margin-bottom: 15px;
}
.clients-list{
    padding-top: 60px;
    display: ruby;
   flex-direction: column;
   justify-self: center;

}

.read{
 justify-content: center;
}
.read-main-info{
margin-left: -180px;
    display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        
}
.read-title{
    font-size: 22px;
    text-align: center;
}
.allread{
    line-height: 1.5;
    float: inline-end;
    margin-right: 50px;
}
    .read-list{
 margin-top: 20px;
display: flex;
        flex-direction: column;
       margin-left: -60px;
    }
    .read-card{
        width: 77%;
    }
    .read-card img{
        width: 100%;
    }
.isecond{
    display: none;
}
.news-main-info{
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
}
.news-title{
    margin-left: -150px;
    font-size: 22px;
    text-align: center;
}
.allnews{
    line-height: 1.5;
    margin-left: 154px;
}
.news-list{
    width: 100%;
    margin-left: 300px;
   
  
  
}
.news-item{
    margin-left: -30px;
    margin-top: 20px;
    width: 60%;
    
}

.subscribe-info{
    
    width: 290px;
 height: 217px;
 justify-items: center;
    flex-direction: column;
padding: 30px;
  margin-left: 60px;

}
.subscribe-text{
    width: 200px;
    height: 29px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    justify-content: center;
    border-bottom: 10;
}
.subscribe-title{
margin-bottom: 20px;
    padding: 0;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}
.subscribe-form{
   
    font-size: 14px;
    width: 200px;
  height: 36px;
text-align: center;
    border-bottom: 0;
    margin: 0;
    padding: 0;
scrollbar-width: 2;
text-size-adjust: 100%;
text-overflow: ellipsis;

}
input::placeholder{
   font-size: 15px;


}
.btn-subscribe{
    margin-top: 10px;
margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 3px;
}
.about-us-info{
    display: block;
margin-left: -140px;
    width: 35%;
    justify-self: center;
}
.about-us{   
    
    height: fit-content;
  display:grid;
}
.about-us-info-more{
display: block;
    flex-direction: column;
    width: 50%;
    margin-left: -190px;
    justify-content: center;
}
.about-us-info-more p{
      font-size: 15px;
      width: 100%;
      margin-left: 3%;
}
.about-us-info-more img{
  width: 100%;
  margin-left: 3%;
margin-bottom: -40px;
padding: 0;

}
.about-us-title{
    width: 100%;
    font-size: 22px;
    margin-left: 7%;
}
.about-us-descr{
     width: 100%;
   
    margin-left: 7%;
}
.about-us-title-more1{
    margin-top: -30px;
font-size: 20px;
}
.about-us-title-more2{
   
    font-size: 20px;
}
.about-first{ 
margin-top: -10px;
    width: 320px;
    flex-direction: column;
 
}
.about-second{
margin-top: -50px;
    width: 320px;
    flex-direction: column;

}
.about-first p,h3{
   margin-left: 3%;
}
.about-second p,h3{
    margin-left: 3%;
}
footer{
margin-top: -200px;
}  
.podval{
  
    width: 150%;
   
    flex-direction: column-reverse;
}
.main-footer{
    flex-direction: column-reverse;
}
.subphone{
    flex-direction: column-reverse;
}
.body-footer{
display: inline;
    justify-content: center;
}
}
@media (max-width: 360px){
   
    .container{
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 70%;
     margin-left: -7px;
    }
    .header2{
        display: flex;
        flex-direction: column;
     
       position: absolute;
       height: 15%;
       width: 130%;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 1;
       overflow-y:auto;
        padding: 20px 30px;
       background-color: white;
        margin-left: -20px;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .like-cart .like{
display: none;
    }
    .like-cart .cart{
       position: relative;
       margin-top: -50px;
        margin-left: 210px;
            }
    
            .nav-bar {
                
                position: fixed;
                background-color: rgb(255, 255, 255);
                top: 0;
              
                left: -25rem;
                height: max-content;
                width:280px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s ease-out;
              }
              .toggle {
                left: 0;
                box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.2);
              
              }
              .toggle-menu {
                background-color: #FFFFFF;
                position: fixed;
                top: 2rem;
                left: 290px;
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0.2rem 0.5rem;
                border-radius: 0.5rem;
              }
              .line {
                width: 100%;
                height: 4px;
                border-radius:5px;
                background-color: #38a84b;
                transition: 0.2s ease-out;
              }
              .toggle .line1 {
                background-color: #095F07;
                transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
              }
              .toggle .line2 {
                display: none;
               
              }
              .toggle .line3 {
                background-color: #13DD33;
                transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
              }
              
             /* .toggle .toggle-menu {
                background-color: lightseagreen;
              }*/
              .nav-list {
                list-style: none;
              }
              .nav-list-item {
                text-align: center;
                padding: 1rem 0;
              }
              .nav-link {
                color:#38a84b;
                font-size: 25px;
                text-decoration: none;
                position: relative;
                padding-bottom: 0.4rem;
              }
              .nav-link::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: #13DD33;
                transform: scaleX(0);
                transition: 0.4s ease-in-out;
                transform-origin: left;
              }
              .nav-link:hover::before {
                transform: scaleX(1);
              }
    .header1{
   display: none ;
    }
    .header-announce{
        display: none ;  
    }
    .info{
        background-size: cover;
   width: 454px;
   height: 320px;
    }
    .block{
        width: 50%;
        height: 154px;
        margin-right: 130px;
    }
    .block h1{
        margin-top: -20px;
        width: 230px;
        height: 87px;
        font-size: 30px;
    }
    .block p{
        margin-top: 80px;
    }
    .delivery-title{
        margin-left: 5%;
          width: 95%;
    }
    .select-delvery{
        display: flex;
        margin-left: 20px;
        width: 90%;
        flex-direction: column;

    }
    .select-delvery select{
       
        border-right: #444444;
    }
    .card-subtitle{
        width: 44%;
    }
    .flower-cards{
    width: 165%;
        display: flex;
        flex-direction: column;
    }
    .button-card{
        width: 130%;
    }
    .catalogue-button{
      margin-left: 1%;
    }
    .centr-title{
        width: 60%;
    }
    .centers{
        display: flex;
height: 859px;
width: 200%;
        flex-direction: column;
        font-size: 12px;
        gap: 0;

    }
    .centr-item{
        margin-left: 60px;
        
    }
    .reviews{
        display: flex;
        flex-direction: column;
        width: 290px;
        height: 254px;
    }
    .review-main-info{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: -50px;
        justify-content: center;
    }
    .first-review{
        margin-left: -48px;
        display: ruby;
       flex-direction: column;
       justify-self: center;
width: 100%;
    }
    .review-img-citate{
        margin-left: -250px;
        display: ruby;
       flex-direction: column;
       justify-self: center;
    }
    .review-title{
       
        font-size: 22px;
        
       text-align: center;
    }
    .allrewie{
       
    float: inline-end;
color: #407014;
    }
    .review p{
      font-size: 1px;
    }
    .review-info p{
        margin: 0;
        
        font-size: 8px;
    }
    .first-review p{
        height: 0;
        margin: 0;
        width: 100%;
        font-size: 14px;
    }
    .second-review{
    
        display: none;
    }
    .img-switch{
        margin-top: 10px;
        margin-left: 110px;
    }
.clients{
    width: 90%;
    margin-bottom: 30px;
}
.clients-title{
      width: 100%;
    margin-top: 60px;
font-size: 22px;
margin-bottom: 15px;
}
.clients-list{
    padding-top: 60px;
    display: ruby;
   flex-direction: column;
   justify-self: center;

}

.read{
 justify-content: center;
}
.read-main-info{

    display: flex;
        flex-direction: column;
        width: 360px;
        justify-content: center;
        
}
.read-title{
    width: 150%;
    
    font-size: 22px;
    text-align: center;
}
.allread{
    line-height: 1.5;
    float: inline-end;
    margin-right: -5%;
}
    .read-list{
 margin-top: 20px;
display: flex;
        flex-direction: column;
       margin-left: -60px;
    }
    .read-card{
        width: 115%;
    }
    .read-card img{
        width: 100%;
    }
.news-main-info{
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
}
.news-title{
   width: 170%;
    font-size: 22px;
    text-align: center;
}
.allnews{
    line-height: 1.5;
    margin-left: 154px;
}
.news-list{
    width: 70%;
    margin-left: 35.5%;
   
  
  
}
.news-item{
   
   
    width: 55%;
    
}
.subscribe-info{
    
    width: 100%;
 height: 50%;
 justify-items: center;
    flex-direction: column;
padding: 30px;
  margin-left: 8%;

}
.subscribe-text{
    width: 200px;
    height: 29px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    justify-content: center;
    border-bottom: 10;
}
.subscribe-title{
margin-bottom: 20px;
    padding: 0;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}
.subscribe-form{
   
    font-size: 14px;
    width: 200px;
  height: 36px;
text-align: center;
    border-bottom: 0;
    margin: 0;
    padding: 0;
scrollbar-width: 2;
text-size-adjust: 100%;
text-overflow: ellipsis;

}
input::placeholder{
   font-size: 15px;


}
.btn-subscribe{
    margin-top: 10px;
margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 3px;
}
.about-us-info{
    display: block;
margin-right: -12%;
    width: 30%;
    justify-self: center;
}
.about-us{   
    
    height: fit-content;
  display:grid;
}
.about-us-info-more{
display: block;
    flex-direction: column;
    width: 50%;
    margin-right: -10%;
    justify-content: center;
}
.about-us-info-more p{
      font-size: 15px;
}
.about-us-info-more img{
  width: 100%;
  margin-left: 30%;
margin-bottom: -12%;
padding: 0;

}
.about-us-title{
    
    font-size: 22px;
}

.about-us-title-more1{
    width: 100%;
    margin-left: 30%;
font-size: 20px;
}
.about-us-title-more2{
     width: 100%;
    margin-left: 30%;
    font-size: 20px;
}
.about-first{ 
margin-top: -10px;
    width: 320px;
    flex-direction: column;
 
}
.about-second{
margin-top: -50px;
    width: 320px;
    flex-direction: column;

}
.about-first p,h3{
    width: 100%;
    margin-left: 30%;
}
.about-second p,h3{
   width: 100%;
    margin-left: 30%;
}
footer{
margin-top: -200px;
}  
.podval{
  
    width: 320px;
   
    flex-direction: column-reverse;
}
.main-footer{
    flex-direction: column-reverse;
}
.subphone{
    flex-direction: column-reverse;
}
.body-footer{
display: inline;
    justify-content: center;
}
}

